<% include partials/header %>

<div>
	<h2>User Information</h2>
</div>

 <div class="centered">
 	<div class="columns" id="info">
		<div class="perNam">Name</div>
		<div class="address">Location</div>
		<div class="age">Age</div>
		<div class="income">Income</div>

	</div>
	<div class="clear"></div>
</div>
<div class="centered">
 	<% for(var i = 0; i < context.length; i++){ %>
 	<div class="columns-list" id="info">
		<div class="score"><%= context[i] ? context[i].fname : ''%> <%= context[i] ? context[i].lname : ''%></div>
		<div class="description"><%= context[i] ? context[i].address : '' %></div>
		<div class="score"><%= context[i] ? context[i].age : ''%></div>
		<div class="description"><%= context[i] ? context[i].annual_inc : '' %></div>
		<div><a href="/update_info/<%= context[i] ? context[i].user_id : '' %>">Update</a></div>
	</div>
	</div>
	<div class="clear"></div>
	<% }; %>
</div>

<% include partials/footer %>
